apiVersion: batch/v1
kind: CronJob
metadata:
  name: backup-etcd
  namespace: kube-system
spec:
#  activeDeadlineSeconds: 100
  schedule: "0 10 * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          nodeSelector:
            node-role.kubernetes.io/master: ""
          tolerations:
          - operator: Exists
            effect: NoSchedule
          containers:
          - name: backup-etcd 
            # Same image as in /etc/kubernetes/manifests/etcd.yaml
            image: glowcow/etcdctl:{{etcdctl_version}}
            env:
              - name: ETCDCTL_API
                value: "3"
            {% raw %}command: ["bash"]
            args: ["-c", "etcdctl --endpoints=https://127.0.0.1:2379 --cacert=/etc/kubernetes/pki/etcd/ca.crt --cert=/etc/kubernetes/pki/etcd/healthcheck-client.crt --key=/etc/kubernetes/pki/etcd/healthcheck-client.key snapshot save /backup-etcd/etcd-snapshot-$(date +%Y-%m-%d_%H-%M_%Z).db"]
            {% endraw %}volumeMounts:
              - mountPath: /etc/kubernetes/pki/etcd
                name: etcd-certs
                readOnly: true
              - mountPath: /backup-etcd
                name: backup-etcd
          restartPolicy: OnFailure
          hostNetwork: true
          volumes:
            - name: etcd-certs
              hostPath:
                path: /etc/kubernetes/pki/etcd
                type: Directory
            - name: backup-etcd
              hostPath:
                path: /data/backup-etcd
                type: DirectoryOrCreate