global_defs {
  notification_email {
  }
  script_user root
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}

vrrp_script check_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance VRRP1 {
  state MASTER
  interface eth0
  virtual_router_id 55
  priority 200
  advert_int 1
  authentication {
      auth_type PASS
      auth_pass 1066
  }
  unicast_src_ip {{hostvars[groups['haproxy'][0]].ansible_default_ipv4.address}}
  unicast_peer {
  {{hostvars[groups['haproxy'][1]].ansible_default_ipv4.address}}
  }
  virtual_ipaddress {
      {{ha_vip}}
  }
  track_script {
    check_haproxy
  }
}